# Dependencies
node_modules/
.venv/
env/
__pycache__/
*.pyc
*.pyo

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Build & Dist
dist/
build/
*.egg-info/
src/lestudio/static/
frontend/dist/

# Git
.git/
.gitignore

# Env vars
.env

# Logs and Data
*.log
docs/
tests/
